!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title dbReader
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/reset.css", :rel => "stylesheet", :media => "screen"}/
    %link{:href => "/style.css", :rel => "stylesheet", :media => "screen"}/
  %body
    %header
      %h1 dbReader
  .main
    =yield
  %hr
  %footer An app to simply read out messages stored in a MySQL table